<div class="row justify-content-center" >
  <div class="col-4 text-center">
    <h1> Error 500 </h1>
    <img src="../../error500.jpg" />
    <p>vuelve a probar en un rato</p>
  </div>

</div>

