
<h1>DETALLE DEL PRODUCTO</h1>

<h3 class="card-title md-3">{{product.title}}</h3>


<a class="btn btn-primary" href="/products/{{product.id}}/edit">EDITAR</a>


<div class="card-body"></div>
      <h5 class="card-title">{{product.title}} </h5>
      <p class="card-text"> {{product.description}}</p>
</div>